<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.CS160Broque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.example.CS160Broque.Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity android:name="com.example.CS160Broque.MainActivity" />
        <activity android:name="com.example.CS160Broque.AccountScreen" />
        <activity android:name="com.example.CS160Broque.GraphViewables" />
        <activity android:name="com.example.CS160Broque.Settings" />
        <activity android:name="com.example.CS160Broque.changeName" />
        <activity android:name="com.example.CS160Broque.changePass" />
        <activity android:name="com.example.CS160Broque.UserFields" />
        <activity android:name="com.example.CS160Broque.addExpense"/>
        <activity android:name="com.example.CS160Broque.forgetPass"/>
        <activity android:name="com.example.CS160Broque.GraphViewCategories"/>
        <activity android:name="com.example.CS160Broque.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
